@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";

@theme {
  --color-green-normal: #2f9858;
  --color-green-light: #5bcc87;
  --color-green-dark: #21693d;
  --color-background: #f0fff0;
  --text-small: 20px;
}
* {
  font-family: "Inter";
}
